CategoryApi/obj/*
CategoryApi/.vs/*
CategoryApi/bin/*
CategoryApi/CategoryApi/bin/*

CategoryApi/CategoryApi/logs/log.txt
CategoryApi/.vs/CategoryApi/v16/.suo
CategoryApi/CategoryApi/bin/Debug/netcoreapp3.1/CategoryApi.dll
CategoryApi/CategoryApi/bin/Debug/netcoreapp3.1/CategoryApi.pdb
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.csproj.CoreCompileInputs.cache
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.dll
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.pdb
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.MvcApplicationPartsAssemblyInfo.cache
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.MvcApplicationPartsAssemblyInfo.cs
CategoryApi/CategoryApi/logs/log.txt
CategoryApi/CategoryApi/bin/Debug/netcoreapp3.1/CategoryApi.dll
CategoryApi/CategoryApi/bin/Debug/netcoreapp3.1/CategoryApi.pdb
CategoryApi/CategoryApi/logs/log.txt
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.csprojAssemblyReference.cache
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.dll
CategoryApi/CategoryApi/obj/Debug/netcoreapp3.1/CategoryApi.pdb
CategoryApi/.vs/CategoryApi/v16/.suo
